### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*
node_modules
bower_components

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test
.env*.local